<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fontawesome-free-6.0.0-beta3-web/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>

    <style>
        body{
    font-family: 'Times New Roman', sans-serif;
    
  }

.dropdown-menu {
    margin-left: -75px;
    margin-top: 10px;
}
  

.registration-form {
  margin-left: 55%;
  margin-right: -20%
}

.registration-header {
    text-align: center;
}

h1{
    color: #333399;
}
.registration-text {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px #b3ec68;
    
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
.signupbtn {
    background-color: #921388;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
.signupbtn:hover {
    opacity:1;
  }

.signupbtn {
    float: left;
    width: 100%;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.2);
  }
.registration-form {
    padding: 16px;
  }
    </style>
    </head>
    <body ng-app="myApp">
        <div class="container" style="background-color: azure;">
            <header class="row ml-1">
                <img src="image/banner.png" class="ml-auto mr-3" width="100%">
            </header>
            <nav class="row" >
                <nav class="navbar navbar-expand-lg navbar-light bg-light col" >
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                            <a class="nav-link" href="Home.html">
                                <i class="fas fa-home"></i>
                                Trang chủ <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item ">
                            <a class="nav-link" href="GioiThieu.html">
                                <i class="fas fa-list-alt"></i>
                                Giới Thiệu</a>
                            </li>
                            <li class="nav-item ">
                            <a class="nav-link" href="LienHe.html">
                                <i class="fas fa-phone"></i>  
                                Liên Hệ</a>
                            </li>
                            <li class="nav-item ">
                            <a class="nav-link" href="Gopy.html">
                                <i class="fas fa-mail-bulk"></i>Góp Ý</a>
                            </li>
                            <li class="nav-item ">
                            <a class="nav-link" href="HoiDap.html">
                                <i class="fas fa-question"></i>Hỏi Đáp</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> Tài Khoản
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="DangNhap.html">Đăng Nhập</a>
                                <a class="dropdown-item" href="Quenmk.html">Quên Mật Khẩu</a>
                                <a class="dropdown-item" href="Dangky.html">Đăng Ký Thành Viên</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Đăng Xuất</a>
                                <a class="dropdown-item" href="Doimk.html">Đổi Mật Khẩu</a>
                            
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </nav>
                <section class="row">
                  <article class="col-7"> 
                    <div class="row">
                      <form name="thongbao" ng-controller="myCtrl" >
                        <div class="registration-form">
                          <div class="registration-header">
                            <h1>Đăng Ký</h1>
                            
                          </div>
                          <hr>
                          <div class="registration-body">
                            <label for="email"><b>Tài khoản:</b></label>
                            <input ng-model="student.user" onclick="xoa()" type="text" class="registration-text" placeholder="Nhập tài khoản" name="tk"  required>
                            <span ng-show="thongbao.tk.$invalid && thongbao.tk.$touched" style="color: red;" >Không được để trống Usename !</span>
                            <span class="badge bg-danger" id="kiemt"></span>
                            <div class="row">
                              <div class="form-group col-6">
                              <label  for="psw"><b>Mật Khẩu:</b></label>
                               <input ng-model="student.pass" type="password" class="registration-text" placeholder="Nhập Mật Khẩu" name="psw" required>
                               <span ng-show="thongbao.psw.$invalid && thongbao.psw.$touched" style="color: red;">Không được để trống Password!</span>
                              </div>
                               <div class="form-group col-6">
                               <label for="psw2"><b>Xác Nhận Mật Khẩu:</b></label>
                               <input ng-model="student.pass2" type="password" class="registration-text" placeholder="Xác nhận mật khẩu" name="psw2" required>
                               <span ng-show="thongbao.psw2.$invalid && thongbao.psw2.$touched" style="color: red;">Không được để trống trường này!</span>
                              </div>
                           </div>
                             <label for="nm"><b>Họ Và Tên:</b></label>
                             <input ng-model="student.fullname" type="name" class="registration-text" placeholder="Nhập Họ và tên" name="nm"required>
                             <span ng-show="thongbao.nm.$invalid && thongbao.nm.$touched" style="color: red;">Không được để trống !</span><br>
                             <label for="psw"><b>Địa chỉ email:</b></label>
                             <input ng-model="student.email" type="email" class="registration-text" placeholder="Example@gmail.com" name="email" required>
                             <span ng-show="thongbao.email.$error.email" class="badge bg-danger">Email không đúng định dạng</span>
                             <span ng-show="thongbao.email.$error.required && thongbao.email.$touched" class="badge bg-danger"  style="color:white;">Vui lòng đăng nhật Email!</span>
                             

                            <div class="clearfix" style="text-align:center">
                              <p class="ss">Bạn chưa có tài khoản: <a href="DangNhap.html">Sign In</a></p>
                               <button ng-disabled="thongbao.tk.$invalid || thongbao.psw.$invalid || thongbao.nm.$invalid || thongbao.email.$invalid" ng-click="signup()" type="button" class="signupbtn">Sign Up</button>
                             </div> 
                          </div>
                        </div>
                      </form>
                    </div>
                    <script>
                      var db = openDatabase('qthanh', '1.0', 'qthanh', 2 * 1024 * 1024);
                      db.transaction(function (tx) {                   
                          tx.executeSql('CREATE TABLE IF NOT EXISTS Students(TaiKhoan unique,Pass,Fullname,Email)');
                      })  
                      function xoa() {
                              document.getElementById("kiemt").innerHTML="";
                            }      
                      var app = angular.module("myApp",[]);
                      app.controller("myCtrl",function ($scope){            
                          $scope.student={};
                          if ($scope.student.user==null){
                              document.getElementById("kiemt").innerHTML=""
                          }
                          $scope.signup = function () {
                              db.transaction(function (tx) {
                                  tx.executeSql('SELECT * FROM Students WHERE TaiKhoan=?',[$scope.student.user],function(tx,result){
                                      if (result.rows.length==1){
                                          document.getElementById("kiemt").innerHTML="UserName Đã Được Sử Dụng"
                                      } else {
                                          tx.executeSql('INSERT INTO Students(TaiKhoan,Pass,Fullname,Email)VALUES(?,?,?,?)',[$scope.student.user,$scope.student.pass,$scope.student.fullname,$scope.student.email]);
                                          alert("Đăng Ký Thành Viên Thành Công");
                                      location.assign('DangNhap.html');
                                      }
                                  })                                  
                              })               
                          }           
                      })
                  </script>
                </article>
                  </section>
                  <footer class="row">
                      <div class="card col"  style="background-color: rgb(167, 233, 233);">
                          <div class="card-body text-center" >
                              <p>FPT Polytechnic &copy; 2020, All right reverved</p>
                          </div>
                      </div>
                  </footer>
                </div>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            </body>
        </html>